body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0px;
    min-height: 100vh;
    width: 100vw;

}   

#opponent-choice {
    width: 240px;
    height: 240px;
    margin: 10px;
    /* background-color: cyan; */
}
#your-choice {
    width: 240px;
    height: 240px;
    margin: 10px;
    /* background-color: yellow; */
    margin-top:  10px;
}

#choices {
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 80px;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 10px;

}

#choices img {
    width: 80px;
    height: 80px;
    background-color: ;

}

#grass {
    background-color: transparent;
}

#backgroundimage {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 125vh;
    z-index: -1;

}

#game-container {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

span {
    font-size: 30px;
    font-family: fantasy;
}

h1 {
    font-size: 35px;
    font-family: fantasy;
}